<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323977689011-kn8j6dsk249kigh6vml3l80m1jltl4rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323977689011-kn8j6dsk249kigh6vml3l80m1jltl4rm</string>
	<key>API_KEY</key>
	<string>AIzaSyBxKYYF-ltDuYEmJIoxlq_FGhY9IN8e2AE</string>
	<key>GCM_SENDER_ID</key>
	<string>323977689011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kyzu.Space-Road</string>
	<key>PROJECT_ID</key>
	<string>space-road-92470</string>
	<key>STORAGE_BUCKET</key>
	<string>space-road-92470.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323977689011:ios:ee9d3a101bbe9e7e53fdc6</string>
</dict>
</plist>